<div class="container">
	
	<h1>Craigslist Jr.</h1>
	<h2>Create Post on Category: <%=@category.name%></h2>

	<form action='/posts'method="POST">
	  <label for="post_name">Title: </label>
	  <input type="text" name="post[title]" id="post_name"><br>
	  <label for="post_text">Content: </label>
	  <textarea name="post[content]" id="post_text"></textarea>
	  <input style="display: none" type="text" name="post[category_id]" value="<%=@id%>">
	  <input type="submit">
	</form>
</div>