<div class="container">
	<h2>Change the content: </h2>
	<form action='/post/edit' method="POST">
	<input style="display: none" name="post_id" value="<%=@post.id%>">
	<input style="display: none" name="category_id" value="<%=@post.category_id%>">
  <label for="post_content">New Content: </label>
  <textarea name="content" id="post_content"><%=@post.content%></textarea>
  <input type="submit">
	</form>
</div>