<div class="container">
	<h2>Change the content: </h2>
	<form action="/post/edit" method="POST">
	  <label for="post_content">New Content: </label>
	  <textarea name="content" id="post_content"><%=@post.content%></textarea>
	  <input type="submit">
	</form>
</div>