<div class="container">
  <h1>Reddit Jr.</h1>

  <%@posts.each do |post|%>
    <div class="post"><h2><a href='/post/<%=post.id%>'><%=post.title%></a></h2><p><a href='<%=post.link%>'><%=post.link%></a><p></div>
  <%end%>
</div>
