<div class="container">
  <h1>Craigslist Jr</h1>
  <h2>Posts:</h2>
  <ul>
    <%@posts.each do |field|%>
      <li><a href="/<%=@category_id%>/<%=field.id%>"><%=field.title%></a></li>
    <%end%>
  </ul>


  <a href="/<%=@category_id%>/new">Create Post!</a>

</div>
