<div class="container">
  <h2><%=@post.title%></h2>
    <p><%=@post.content%><p>

  <h4>Comments</h4>
  <%if session[:current_user]%>
    <form action='/post/@post.id/add_comment' method="POST">
      <textarea name="content" placeholder="Write stuff here"></textarea>
      <input type="submit" value="Add Comment">
    </form>
  <%end%>


</div>
