<div class="container">
  <%if @no_user%>
    <h1>THAT USER DON'T EXIST YO</h1>
  <%else%>
    <h1><%=@user.user_name%></h1>
    <p><%=@user.about%></p>
    <a id="profile_comments" href="#">Comments</a><br><br>
    <a id="profile_posts" href="#">Posts</a>
  <%end%>
</div>
